@media (prefers-reduced-motion) {
  .hidden {
    transition: none;
  }
}

* {
  color: rgb(30, 30, 30);
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.hidden {
  opacity: 0;
  transform: translateY(10%);
  transition: all 1.5s ease;
}

.show {
  transform: translateY(0);
  opacity: 1;
}

body {
  background-color: rgb(240, 240, 240);
}

nav {
  border-bottom: 2px dashed rgb(30, 30, 30);
  font-family: "Poppins", serif;
}

nav h1 {
  font-family: "Lobster", serif;
  font-size: 2em;
}

.hero {
  width: 100%;
}

.hero {
  margin-top: 15px;
  font-family: "Poppins", serif;
  border-bottom: 2px solid rgb(199, 199, 199);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.hero h1 {
  font-family: "Lora", serif;
  font-weight: 700;
  font-size: 3em;
}

.hero p {
  width: 30%;
  text-align: center;
  margin: 10px 0;
}

.img-container {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 10px 0 50px 0;
}

.img-container img {
  object-fit: cover;
  width: 200px;
  height: 500px;
  margin: 0 0.2em;
  position: relative;
  filter: brightness(60%);
  -webkit-filter: brightness(60%);
  -moz-filter: brightness(60%);
  transition: all 0.3s ease;
}

.img-container img:hover {
  filter: brightness(100%);
  -webkit-filter: brightness(100%);
  -moz-filter: brightness(100%);
}

.hero a:nth-child(1) {
  background-color: rgb(30, 30, 30);
  color: white;
  border: 2px solid rgb(30, 30, 30);
}
.hero a:nth-child(1):hover {
  background-color: white;
  color: rgb(30, 30, 30);
}

.hero a,
.get-started a {
  font-size: 1em;
  padding: 10px;
  cursor: pointer;
  overflow: hidden;
  position: relative;
  color: black;
  background-color: transparent;
  transition: all 0.15s ease;
  border: 2px dashed black;
  margin: 10px;
  text-decoration: none;
}

.hero a:hover,
.get-started a:hover {
  background-color: black;
  color: white;
}

.section-padding {
  padding-top: 100px;
}
.to-make {
  display: flex;
  justify-content: center;
  padding-bottom: 100px;
  border-bottom: 2px solid rgb(199, 199, 199);
}

.test {
  background: #000;
}

.to-make .card {
  display: flex;
  align-items: center;
  justify-content: center;
  border: 2px dashed rgb(30, 30, 30);
  border-radius: 50%;
  background: none;
  width: 200px;
  height: 200px;
  transition: all 0.3s ease;
  position: relative;
}
.to-make .card h4 {
  color: rgb(30, 30, 30);
}

.to-make .card:before {
  content: "";
  position: absolute;
  background-color: rgb(0, 0, 0);
  height: 0%;
  width: 0%;
  border-radius: 50%;
  transition: all 0.4s ease;
  z-index: -1;
}
.to-make .card:hover:before {
  height: 100%;
  width: 100%;
}

.to-make .card:hover {
  transform: scale(1.1);
}

.to-make .card:hover > h4,
.to-make .card:hover span {
  color: white;
}

.card-text {
  display: flex;
  align-items: center;
}

.reason h1 {
  font-family: "Lora", serif;
  font-size: 3em;
}

.reason span {
  font-size: 4em;
}

.material-symbols-outlined:nth-child(1) {
  fill: 1;
}

.star {
  color: rgb(255, 183, 0);
}

.verify {
  color: skyblue;
}

.review {
  color: green;
}

.material-symbols-outlined {
  font-variation-settings: "FILL" 1, "wght" 400, "GRAD" 0, "opsz" 48;
}

.get-started h2 {
  font-size: 2em;
  font-family: "Lora", serif;
}

.overview {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.overview h1 {
  font-family: "Lora", serif;
  text-align: center;
  font-weight: 900;
  font-size: 4em;
}

.overview p {
  width: 50%;
  text-align: center;
}

.overview .card {
  margin: 1em 0;
  padding: 10px;
  text-align: center;
  border: none;
  background-color: rgb(255, 241, 224);
  border-radius: 0;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}

.overview .card h3 {
  font-family: "Lora", serif;
  text-align: center;
}

.overview .card {
  border-radius: 10px 10px 10px 10px;
  border: 2px dashed rgb(30, 30, 30);
  min-height: 300px;
}

ul {
  list-style: none;
}

li {
  margin: 2px;
}

.ingredients {
  font-family: "Poppins", serif;
}

.ingredients .card-title {
  text-align: center;
}

.ingredients h3 {
  margin: 10px 0 40px 0;
}

.ingredient {
  margin-bottom: 10px;
}

.img-separator {
  height: 300px;
  width: 100%;
  object-fit: cover;
  border-radius: 50px 10px 50px 10px;
  filter: brightness(70%);
}

.how-to {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row;
}

.ingredient-container h1 {
  font-family: "Lora", serif;
}

.ingredient-container .card {
  background-color: rgb(255, 241, 224);
}

.items {
  font-family: "Poppins", serif;
}

.hide {
  display: none;
}

.items {
  display: flex;
  justify-content: center;
}

.item {
  border: 3px dashed rgb(252, 189, 0);
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  border-radius: 50%;
  height: 150px;
  width: 150px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: 10px;
  transition: all 0.3s ease;
  position: relative;
  cursor: pointer;
  animation: spin 10s linear infinite;
}
.custom-list {
  list-style-type: none;
}

.custom-list li {
  counter-increment: step-counter;
  margin-bottom: 10px;
  font-family: "Poppins", serif;
}

.custom-list li::before {
  display: inline-block;
  text-align: center;
  content: counter(step-counter);
  font-family: "Lora", serif;
  margin-right: 10px;
  font-size: 1em;
  background-color: rgb(255, 229, 198);
  color: white;
  font-weight: bold;
  border-radius: 50%;
  padding: 2px;
  width: 30px;
  height: 30px;
}

.ingredient-container .card {
  font-family: "Poppins", serif;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 30px;
  border: 3px dashed rgb(30, 30, 30);
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}

.ingredient-container .card:nth-child(2) {
  border-top: none;
  border-bottom: none;
}

.ingredient-container .card:nth-child(3) {
  border-bottom: none;
}

.directions {
  font-weight: "Poppins", serif;
  width: 100%;
}

.directions h1,
.directions h4 {
  font-family: "Lora", serif;
}

.directions img {
  border-radius: 24px;
  height: 200px;
  width: 100%;
  object-fit: cover;
  object-position: 60% center;
}

.steps {
  margin: 10px 0;
  display: flex;
  justify-content: space-between;
}

.how-to-m {
  display: none;
}
@media screen and (min-width: 768px) and (max-width: 991px) {
  .img-container img {
    width: 100px;
  }

  .img-container img {
    filter: brightness(100%);
    -webkit-filter: brightness(100%);
    -moz-filter: brightness(100%);
  }

  .get-started h2 {
    font-size: 2em;
  }
}

@media screen and (max-width: 767px) {
  .hero h1 {
    font-size: 2em;
    text-align: center;
  }

  .hero p {
    width: 70%;
  }

  .img-container {
    flex-direction: column;
  }

  .img-container img {
    width: 300px;
    height: 100px;
    margin: 0.2em 0;
    filter: brightness(100%);
    -webkit-filter: brightness(100%);
    -moz-filter: brightness(100%);
  }

  .directions img {
    display: none;
  }

  .overview h1 {
    font-size: 2.5em;
    width: 100%;
  }
  .overview p {
    width: 100%;
  }
  .overview img {
    height: 150px;
  }

  .how-to {
    display: none;
  }

  .how-to-m {
    display: block;
  }
}

footer {
  background-color: rgb(30, 30, 30);
}

.footer-container > a > i,
.footer-container {
  color: white;
}

/* REDO INGREDIENT LIST 

MAKE IT INTO DIFFERENT CARDS 

download images for each ingredient

animate detailed ingredient with show/hide button

design instructions
*/
